@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&family=Rubik:wght@500&display=swap');
h1{
  text-align: center;
  font-family: arial;
  font-size: 48px;
  font-style: bold;
  letter-spacing: 3px;
  color: #14279B;
}

.gombok{
  text-align: center;
}

button{
  margin-bottom: 1.5%;
  background-color: #3D56B2;
  border: 4px solid lightblue;
  border-radius: 15px;
  color: #E6E6E6;
  width: 60vh;
  height: 6vw;
  font-size: 20px;
  letter-spacing: 1px;
  opacity: 0.86;
  transition: 0.5s;
}
button:hover{
  width: 65vh;
  height: 7vw;
  cursor: pointer;
  background-color: #5C7AEA;
  letter-spacing:2px;
  opacity: 1;

}

* {

  font-family: 'Rubik', sans-serif;
  font-family: 'Outfit', sans-serif;
}
body{
  background-color: #E6E6E6;
}
