@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&family=Rubik:wght@500&display=swap');* {
  font-family: 'Rubik', sans-serif;
  font-family: 'Outfit', sans-serif;

}
body {
  background-color: #E6E6E6;
}

.th {
  text-align: center;
  margin: auto;
}

#szo_sec table {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 1%;
  color: #14279B;

  font-size: 30px;
  text-align: center;
}

#kep_sec {
  text-align: center;
}

.betu_div {
  margin: auto;
  text-align: center;
}

#betu_sec {
  border: 2px solid lightblue;
  border-radius: 12px;
  width: 40%;
  margin: auto;
  margin-top: 10vh;
  background-color: #3D56B2;
  padding: 10px;
}

#betu_sec button {
  margin: 3px;
}

img {
  width: 50vh;
}

.betu {
  background-color:#E6E6E6 ;
  border: 1px solid lightblue;
  border-radius: 15%;
  padding: 5px;
  width: 30px;
  transition: 0.3s;
}

.betu:hover{
  background-color: #14279B;
  color: white;
  border-color: #14279B;
  cursor: pointer;
}

.hrtop {
  width: 90%;
}
