#szo_sec table {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 1%;

  font-size: 30px;
  text-align: center;
}

#kep_sec {
  text-align: center;
}

#betu_sec {
  border: 2px solid black;
  border-radius: 12px;
  width: 70vh;
  margin: auto;
  margin-top: 10vh;
}

#betu_sec table {
  width: 100%;
}

#betu_sec table td {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

img {
  width: 50vh;
}

.betu {
  background-color: white;
  border: 1px solid black;
  border-radius: 15%;
  padding: 5px;
  width: 30px;
  transition: 0.3s;
}

.betu:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}

.hrtop {
  width: 90%;
}
